{
    "env": {
        "browser": true,
        "es6": true,
        "jasmine": true,
        "jest/globals": true
    },
    "globals": {
      "ENV": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "plugins": ["jest"],
    "rules": {
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ],
        "no-console": [
          "warn"
        ]
    }
}
